.container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.header {
  grid-row: 1;
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 10px);
}
.search-area {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
}
.search-form {
  grid-row: 1/2;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 40px;
  padding-top: 30px;
}

.search-form i {
  margin-left: 10px;
  padding-left: 20px;
}
.search-form input {
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  border-style: none;
  background-color: #e2e8f0;
}
.salutation {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 60px 1fr;
  padding-left: 30px;
}

.salutation-face i {
  padding-top: 10px;
  font-size: 60px;
}
.salutation-text span {
  font-size: small;
}
.salutation-text p {
  font-size: larger;
}

.profile {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.user-info {
  grid-row: 1/2;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 20px 60px 1fr;
  column-gap: 20px;
  padding-left: 20%;
}
.notifications {
  padding-top: 30px;
}
.profile-face i {
  font-size: 60px;
  padding-top: 10px;
}
.profile-name {
  font-size: 18px;
  padding-top: 30px;
}

.useful-buttons {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 30px;
  padding-left: 20%;
}
.useful-button {
  border-radius: 20px;
  border-style: none;
  width: 100px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  background-color: #1992d4;
  color: #ffffff;
}
.sidebar {
  grid-row: 1/6;
  grid-column: 1/2;
  background-color: #1992d4;
  display: grid;
  grid-template-columns: 60px 2fr;
  grid-template-rows: 60px 50px repeat(3, 1fr) 1fr;
  color: #ffffff;
  padding-left: 4px;
}

.branding {
  grid-row: 1/2;
  grid-column: 1/2;
  /* padding: 10px; */
  justify-content: center;
}
.branding-text {
  grid-row: 1/2;
  grid-column: 2/3;
}

.branding i {
  font-size: 60px;
}
.branding h4 {
  float: left;
  font-size: 28px;
  margin-left: 2px;
}
.branding img {
  width: 80px;
  height: 80px;
}
.branding {
  grid-row: 1/2;
}
.links {
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(6, 25px);
  margin-left: 10px;
}
.settings {
  grid-row: 5/6;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(3, 25px);
  margin-left: 10px;
}

.main {
  grid-row: 2/6;
  grid-column: 2/5;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 50px 3fr;
  padding-left: 10px;
  padding-right: 10px;
}

.headings {
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 50px;
  padding-left: 10px;
}
.projects-heading {
  grid-column: 1/3;
  grid-row: 1/1;
  background-color: #e2e8f0;
  padding-top: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.projects-heading span {
  font-size: 18px;
}
.announcements-heading span {
  font-size: 18px;
}
.announcements-heading {
  grid-column: 3/4;
  grid-row: 1/1;
  background-color: #e2e8f0;
  padding-top: 30px;
  font-weight: bold;
  padding-left: 10px;
}
.main-content {
  grid-row: 2/5;
  grid-column: 1/4;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.projects {
  grid-column: 1/3;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 180px);
  gap: 10px;
  padding-left: 10px;
}
.project-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}
.project-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}
.project-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}
.project-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}
.project-5 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}
.project-6 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #ffffff;
  border-left: 5px solid #f0b429;
  border-radius: 5px;
  padding-left: 10px;
}

.announcements {
  grid-column: 3/4;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 20px 1fr;
  padding-left: 10px;
  row-gap: 10px;
}
.announcements-top {
  grid-row: 1/2;
  display: grid;
  grid-template-rows: repeat(3, 120px);
  border-radius: 15px;
}
.notice-1 {
  grid-row: 1/2;
  background-color: #ffffff;
  padding-left: 10px;
}
.announcements-top h4 {
  margin-bottom: 0;
}
.announcements-top hr {
  margin-left: 10px;
  margin-right: 10px;
}
.notice-2 {
  grid-row: 2/3;
  background-color: #ffffff;
  padding-left: 10px;
}
.notice-3 {
  grid-row: 3/4;
  background-color: #ffffff;
  padding-left: 10px;
}
.announcements-middle {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr;
}
.trending-heading {
  margin-bottom: 0px;
}
.announcements-bottom {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: repeat(4, 30px);
  background-color: #ffffff;
}
.trending-1 {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.trending-1-pic {
  grid-column: 1/2;
  padding-left: 10px;
}
.trending-1-text {
  grid-column: 2/3;
}
.trending-2 {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.trending-2-pic {
  grid-column: 1/2;
  padding-left: 10px;
}
.trending-2-text {
  grid-column: 2/3;
}
.trending-3 {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.trending-3-pic {
  grid-column: 1/2;
  padding-left: 10px;
}
.trending-3-text {
  grid-column: 2/3;
}
.trending-4 {
  grid-row: 4/5;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.trending-4-pic {
  grid-column: 1/2;
  padding-left: 10px;
}
.trending-4-text {
  grid-column: 2/3;
}
.bottom-align {
  text-align: right;
  padding-right: 10px;
}
